<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" th:src="@{/map/raphael-min.js}"></script>
    <script type="text/javascript" th:src="@{/map/chinaMapConfig.js}"></script>
    <script type="text/javascript" th:src="@{/map/map.js}"></script>
</head>

<body>
<ul>
    <!--    <li>固定大小地图-->
    <!--        <div id="ChinaMap">-->
    <!--        </div>-->
    <!--    </li>-->
    <li>
        <div id="ChinaMap1">
        </div>
    </li>
</ul>

</body>
<script>
    // $('#ChinaMap').SVGMap({
    //     mapName: 'china'
    // });

    $('#ChinaMap1').SVGMap({
        mapName: 'china',
        mapWidth: 1000,
        mapHeight: 800

    });

</script>

</html>