<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台管理系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">防疫物资后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    admin,欢迎您
                </a>
            </li>
            <li class="layui-nav-item"><a href="">退出管理</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-set-fill"
                                                       style="font-size: 18px"></i> 系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/home/home" target="content_iFrm"><i class="layui-icon layui-icon-top
"
                                                                          style="font-size: 18px"></i> 首页管理</a></dd>

                        <dd><a href="/courseorder/notice" target="content_iFrm"><i
                                class="layui-icon layui-icon-dialogue"
                                style="font-size: 18px"></i> 公告管理</a>
                        </dd>
                        <dd><a href="/courseorder/noticenav" target="content_iFrm"><i class="layui-icon layui-icon-list"
                                                                                      style="font-size: 18px"></i>
                            公告栏</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-group" style="font-size: 18px"></i>
                        人员管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/stuinfo/list" target="content_iFrm"><i class="layui-icon layui-icon-chat"
                                                                             style="font-size: 18px"></i> 管理员管理</a></dd>
                        <dd><a href="/courseorder/list" target="content_iFrm"><i class="layui-icon layui-icon-user"
                                                                                 style="font-size: 18px"></i> 用户管理</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-util" style="font-size: 18px"></i>
                        业务管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/material/listUnPass" target="content_iFrm"><i
                                class="layui-icon layui-icon-add-circle"
                                style="font-size: 18px"></i>
                            物资入库</a></dd>
                        <dd><a href="/material/list" target="content_iFrm"><i class="layui-icon layui-icon-tabs"
                                                                              style="font-size: 18px"></i> 物资资料</a></dd>
                        <dd><a href="/total/list" target="content_iFrm"><i class="layui-icon layui-icon-component"
                                                                           style="font-size: 18px"></i> 物资库存</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-chart-screen" style="font-size: 18px"></i>
                        数据分析</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/dataanalysis/map" target="content_iFrm"><i class="layui-icon layui-icon-chart"
                                                                                 style="font-size: 18px"></i> 物资来源</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe name="content_iFrm" id="iframe" src="/home/home" frameborder="no" border="o" class="larry-iframe"
                style="width: 100%;height: 100%;"></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>

<script>
    //JavaScript代码区域
    layui.use(['element', 'layer'], function () {
        var element = layui.element;

    });
</script>
</body>
</html>