<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<from class="layui-form" action="" id="fromAdd">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">数量</label>
            <div class="layui-input-inline">
                <input type="text" name="specs" id="specs"  placeholder="" autocomplete="off"
                       class="layui-input">
            </div>
        </div>


    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">规格</label>
            <div class="layui-input-inline">
                <input type="tel" name="unit" id="unit" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="tel" name="state" id="state" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">日期选择</label>
            <div class="layui-input-block">
                <input type="text" name="date" id="laydate" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" onclick="doSave();" class="layui-btn"  lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

</from>

<script>
    var $,layer;
    layui.use(['form','laydate'],function (){
        var laydate = layui.laydate;
        $ = layui.jquery;
        layer = layui.layer;
        //日期
        laydate.render({
            elem:'#laydate'
        });
    })

    function doSave(){
        //alert("vvv");
        $.ajax({
            type:"get",
            url:"/material/save",
            data:{
                name:$("#name").val(),
                specs:$("#specs").val(),
                unit:$("#unit").val(),
                state:$("#state").val(),
                date:$("#laydate").val()

            },
            success:function (data){
                if (data.success == 1){
                    layer.alert("添加成功",{yes:function (){
                        parent.layer.closeAll();
                        }})
                }else{
                    layer.alert("添加失败",{yes:function (){
                            parent.layer.closeAll();
                        }})
                }
            },
            error:function (){

            }

        })
    }
</script>
</body>
</html>