<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/echarts/echarts.min.js}" charset="utf-8"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>首页</legend>
    <style>
        a:hover {
            color: #1E9FFF;
            font-size: 15px;
            text-decoration: underline;
        }
    </style>
</fieldset>

<div style="padding: 20px; background-color: #FAFAFA;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md7">
            <!--            登录人员信息-->
            <div class="layui-card layui-row layui-col-space15" style="height: 240px">
                <div class="layui-card-header" style="font-size: 25px;height: 80px;line-height: 80px">管理员信息</div>
                <div class="layui-card-body">
                    <img th:src="@{/images/touxiang.jpg}" alt="" style="height: 100px;width: 100px;margin-top: 25px"
                         class="layui-col-md2">
                    <div class="layui-form layui-col-md10" style="margin-left:10px; margin-top: 20px">
                        <table class="layui-table" style="height: 100px">
                            <!--                            <colgroup>-->
                            <!--                                <col width="150">-->
                            <!--                                <col width="150" th:height="50">-->
                            <!--                                <col width="200" th:height="50">-->
                            <!--                                <col th:height="50">-->
                            <!--                            </colgroup>-->
                            <thead>
                            <tr>
                                <th>管理员</th>
                                <th>性别</th>
                                <th>身份</th>
                                <th>星级</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>admin</td>
                                <td>不重要</td>
                                <td>超级管理员</td>
                                <td>
                                    <div id="test1"></div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="layui-card layui-row layui-col-space15" style="height: 160px">
                <!--                //饼图数据展示-->
                <div class="layui-card-body">
                    <div id="container" style="height: 100%"></div>
                </div>
            </div>
            <div class="layui-card layui-row layui-col-space15" style="height: 595px">
                <!--                //管理员登入次数统计图-->
                <div style="height: 500px;width: 900px;margin: 0;">
                    <div id="container1" style="height: 100%;margin-top: 50px;margin-left: 30px"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md5">
            <!--            //轮播图部分-->
            <div class="layui-card" style="height: 1000px">
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-carousel layui-col-md7" id="test10">
                            <div carousel-item="">
                                <div><img th:src="@{/images/lunbo1.jpg}" width="100%" height="100%"></div>
                                <div><img th:src="@{/images/lunbo2.jpg}" width="100%" height="100%"></div>
                                <div><img th:src="@{/images/lunbo3.jpg}" width="100%" height="100%"></div>
                                <div><img th:src="@{/images/lunbo4.jpg}" width="100%" height="100%"></div>
                                <div><img th:src="@{/images/lunbo5.jpg}" width="100%" height="100%"></div>
                                <div><img th:src="@{/images/lunbo6.jpg}" width="100%" height="100%"></div>
                            </div>

                        </div>

                    </div>
                </div>
                <!--                //数据流加载部分-->
                <div class="layui-card-body">
                    <div style="height: 560px; overflow-y:scroll">
                        <div class="commodity">
                            <ul id="LAY_demo1">
                                <div class="layui-card" style="height: 40px;width: 620px;background-color:#F0F0F0;">
                                    <div class="layui-card-body" style="height: 40px;width: 620px;">
                                        <a href="https://new.qq.com/omn/20210412/20210412A0BEXC00.html">受疫情冲击
                                            阿尔巴尼亚今年第一季度死亡人数同比增加7成</a>
                                    </div>
                                </div>
                                <div class="layui-card" style="height: 40px;width: 620px;background-color:#F0F0F0;">
                                    <div class="layui-card-body" style="height: 40px;width: 620px;">
                                        <a href="http://news.jstv.com/a/20210412/1618224518931.shtml">中国驻泰国大使馆再次提醒在泰中国公民做好疫情防范</a>
                                    </div>
                                </div>
                                <div class="layui-card" style="height: 40px;width: 620px;background-color:#F0F0F0;">
                                    <div class="layui-card-body" style="height: 40px;width: 620px;">
                                        <a href="http://www.yukaijx.com/a/douyinpeixunanli/12773.html">法国则限制5国内疫情5岁以上人群接种</a>
                                    </div>
                                </div>
                                <div class="layui-card" style="height: 40px;width: 620px;background-color:#F0F0F0;">
                                    <div class="layui-card-body" style="height: 40px;width: 620px;">
                                        <a href="https://baijiahao.baidu.com/s?id=1696729965895259590&wfr=spider&for=pc">全民接种显同心
                                            共建屏障抗疫情</a>
                                    </div>
                                </div>
                                <div class="layui-card" style="height: 40px;width: 620px;background-color:#F0F0F0;">
                                    <div class="layui-card-body" style="height: 40px;width: 620px;">
                                        <a href="http://news.cctv.com/2021/04/12/ARTIeKnG8wawRunmyqIQSvtW210412.shtml">巴基斯坦民众：感谢中国提供疫苗
                                            疫情将得到控制</a>
                                    </div>
                                </div>
                                <div class="layui-card" style="height: 40px;width: 620px;background-color:#F0F0F0;">
                                    <div class="layui-card-body" style="height: 40px;width: 620px;">
                                        <a href="https://new.qq.com/omn/20210412/20210412A01IOM00.html">刚刚发布，最新疫情通报！</a>
                                    </div>
                                </div>
                                <div class="layui-card" style="height: 40px;width: 620px;background-color:#F0F0F0;">
                                    <div class="layui-card-body" style="height: 40px;width: 620px;">
                                        <a href="http://m.news.cctv.com/2021/04/12/ARTIUdiZpvn0w0aFoCm3uuZD210412.shtml">日本首相：日本当前的疫情状况比发布紧急事态宣言时“更为严峻”</a>
                                    </div>
                                </div>
                                <div class="layui-card" style="height: 40px;width: 620px;background-color:#F0F0F0;">
                                    <div class="layui-card-body" style="height: 40px;width: 620px;">
                                        <a href="http://news.cctv.com/2021/04/12/ARTIpecChATaSdijCowR5QgK210412.shtml">【樱花又开放——疫后重振看湖北】补短板
                                            强功能 惠民生 探访湖北首个开建的重大疫情救治基地</a>
                                    </div>
                                </div>
                                <div class="layui-card" style="height: 40px;width: 620px;background-color:#F0F0F0;">
                                    <div class="layui-card-body" style="height: 40px;width: 620px;">
                                        <a href="https://baijiahao.baidu.com/s?id=1696665647500155549&wfr=spider&for=pc">为什么疫情传遍了全世界，却无法传遍全中国？张伯礼：疫情防控是综合国力的较量</a>
                                    </div>
                                </div>
                                <button type="button" class="layui-btn layui-btn-normal" style="margin-left: 200px">加载更多
                                </button>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>

</div>
</div>


<script>
    var $;
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;
        $ = layui.jquery;

        //监听折叠
        element.on('collapse(test)', function (data) {
            layer.msg('展开状态：' + data.show);
        });

        $.ajax({
            type: "get",
            url: "/home/adminCount",
            success: function (data) {
                console.log(data);
                $("#adminCount").html(data);
                // document.getElementById("adminCount").innerText(data);
            }
        });

        $.ajax({
            type: "get",
            url: "/home/userCount",
            success: function (data) {
                console.log(data);
                $("#userCount").html(data);
                // document.getElementById("adminCount").innerText(data);
            }
        });

        $.ajax({
            type: "get",
            url: "/home/materialCount",
            success: function (data) {
                console.log(data);
                $("#materialCount").html(data);
                // document.getElementById("adminCount").innerText(data);
            }
        });

        $.ajax({
            type: "get",
            url: "/home/totalCount",
            success: function (data) {
                console.log(data);
                $("#totalCount").html(data);
                // document.getElementById("adminCount").innerText(data);
            }
        });
    });

    layui.use(['carousel', 'form'], function () {
        var carousel = layui.carousel,
            form = layui.form;


        //图片轮播
        carousel.render({
            elem: '#test10',
            width: '100%',
            height: '400px',
            interval: 2000
        });

        //事件
        carousel.on('change(test4)', function (res) {
            console.log(res)
        });

        var $ = layui.$,
            active = {
                set: function (othis) {
                    var THIS = 'layui-bg-normal',
                        key = othis.data('key'),
                        options = {};

                    othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                    options[key] = othis.data('value');
                    ins3.reload(options);
                }
            };

        //监听开关
        form.on('switch(autoplay)', function () {
            ins3.reload({
                autoplay: this.checked
            });
        });

        $('.demoSet').on('keyup', function () {
            var value = this.value,
                options = {};
            if (!/^\d+$/.test(value)) return;

            options[this.name] = value;
            ins3.reload(options);
        });

        //其它示例
        $('.demoTest .layui-btn').on('click', function () {
            var othis = $(this),
                type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });


    /*
    柱形图
    */
    var dom = document.getElementById("container1");
    var myChart = echarts.init(dom);
    var app = {};

    var option;


    option = {
        title: {
            text: '近期登入次数对照表',
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['蒸发量', '降水量']
        },
        toolbox: {
            show: true,
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        color: ['#cc0000', '#3B3B3B'],
        xAxis: [
            {
                type: 'category',
                data: ['1号', '2号', '3号', '4号', '5号', '6号', '7号', '8号', '9号', '10号', '11号', '12号']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '您登入次数',
                type: 'bar',
                data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: '总登入次数',
                type: 'bar',
                data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
                markPoint: {
                    data: [
                        {name: '年最高', value: 182.2, xAxis: 7, yAxis: 183},
                        {name: '年最低', value: 2.3, xAxis: 11, yAxis: 3}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            }
        ]
    };

    if (option && typeof option === 'object') {
        myChart.setOption(option);
    }


    /*
    饼图
     */

    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};

    var option;


    option = {
        dataset: [{
            source: [
                ['Product', 'Sales', 'Price', 'Year'],
                ['Cake', 123, 32, 2011],
                ['Cereal', 231, 14, 2011],
                ['Tofu', 235, 5, 2011],
                ['Dumpling', 341, 25, 2011],
                ['Biscuit', 122, 29, 2011],
                ['Cake', 143, 30, 2012],
                ['Cereal', 201, 19, 2012],
                ['Tofu', 255, 7, 2012],
                ['Dumpling', 241, 27, 2012],
                ['Biscuit', 102, 34, 2012],
                ['Cake', 153, 28, 2013],
                ['Cereal', 181, 21, 2013],
                ['Tofu', 395, 4, 2013],
                ['Dumpling', 281, 31, 2013],
                ['Biscuit', 92, 39, 2013],
                ['Cake', 223, 29, 2014],
                ['Cereal', 211, 17, 2014],
                ['Tofu', 345, 3, 2014],
                ['Dumpling', 211, 35, 2014],
                ['Biscuit', 72, 24, 2014],
            ],
        }, {
            transform: {
                type: 'filter',
                config: {dimension: 'Year', value: 2011}
            },
        }, {
            transform: {
                type: 'filter',
                config: {dimension: 'Year', value: 2012}
            }
        }, {
            transform: {
                type: 'filter',
                config: {dimension: 'Year', value: 2013}
            }
        }, {
            transform: {
                type: 'filter',
                config: {dimension: 'Year', value: 2013}
            }
        }],
        series: [{
            name: '疫苗',
            type: 'pie',
            radius: ['60%', '75%'],
            center: ['20%', '20%'],
            avoidLabelOverlap: false,
            label: {
                show: true,
                position: 'center',
                fontSize: '20',
                fontWeight: 'bold'

            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '20',
                    fontWeight: 'bold'
                }
            },
            labelLine: {
                show: false
            },
            data: [
                {value: 900, name: '用户 27', itemStyle: {color: '#ff9933'}},
                {value: 200, name: '', itemStyle: {color: '#F0F0F0'}},

            ]
        }, {
            name: '疫苗',
            type: 'pie',
            radius: ['60%', '75%'],
            center: ['20%', '20%'],
            avoidLabelOverlap: false,
            label: {
                show: true,
                position: 'center',
                fontSize: '20',
                fontWeight: 'bold'

            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '20',
                    fontWeight: 'bold'
                }
            },
            labelLine: {
                show: false
            },
            data: [
                {value: 736, name: '管理员 4', itemStyle: {color: '#3366ff'}},
                {value: 735, name: '', itemStyle: {color: '#F0F0F0'}},

            ]
        }, {
            name: '疫苗',
            type: 'pie',
            radius: ['60%', '75%'],
            center: ['20%', '20%'],
            avoidLabelOverlap: false,
            label: {
                show: true,
                position: 'center',
                fontSize: '20',
                fontWeight: 'bold'

            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '20',
                    fontWeight: 'bold'
                }
            },
            labelLine: {
                show: false
            },
            data: [
                {value: 1777, name: '物资 1314', itemStyle: {color: '#33ff33'}},
                {value: 735, name: '', itemStyle: {color: '#F0F0F0'}},

            ]
        }, {
            name: '疫苗',
            type: 'pie',
            radius: ['60%', '75%'],
            center: ['20%', '20%'],
            avoidLabelOverlap: false,
            label: {
                show: true,
                position: 'center',
                fontSize: '20',
                fontWeight: 'bold'

            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '20',
                    fontWeight: 'bold'
                }
            },
            labelLine: {
                show: false
            },
            data: [
                {value: 1388, name: '种类 33', itemStyle: {color: '#33ccff'}},
                {value: 735, name: '', itemStyle: {color: '#F0F0F0'}},

            ]
        }],


        // Optional. Only for responsive layout:
        media: [{
            query: {minAspectRatio: 1},
            option: {
                series: [
                    {center: ['10%', '50%']},
                    {center: ['36%', '50%']},
                    {center: ['62%', '50%']},
                    {center: ['88%', '50%']}
                ]
            }
        }, {
            option: {
                series: [
                    {center: ['50%', '25%']},
                    {center: ['50%', '50%']},
                    {center: ['50%', '75%']}
                ]
            }
        }]
    };

    if (option && typeof option === 'object') {
        myChart.setOption(option);
    }


    /*
    操作记录总览
     */


    // layui.use('flow', function () {
    //     var flow = layui.flow;
    //
    //     flow.load({
    //         elem: '#LAY_demo1' //流加载容器
    //         , scrollElem: '#LAY_demo1' //滚动条所在元素，一般不用填，此处只是演示需要。
    //         , done: function (page, next) { //执行下一页的回调
    //
    //             //模拟数据插入
    //             // setTimeout(function () {
    //             //     var lis = [];
    //             //     for (var i = 0; i < 20; i++) {
    //             //         lis.push('<li>' + ((page - 1) * 20 + i + 1) + '</li>')
    //             //     }
    //             //
    //             //     //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
    //             //     //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
    //             //     next(lis.join(''), page < 10); //假设总页数为 10
    //             // }, 500);
    //         }
    //     });
    //
    //
    // });
    layui.use(['rate'], function () {
        var rate = layui.rate;
        //基础效果
        rate.render({
            elem: '#test1',
            value: 5
        })
    });

</script>

</body>
</html>